<h3>Post Form</h3>

<form>
  <label>Post Title</label><br>
  <input type="text" id="post_title" name="post[title]"></input>

  <label>Post Description</label><br>
  <input type="text" id="post_description" name="post[description]"></input>

  <input type="submit" value="Submit Post"></input>

</form>
