<h3>Post Form</h3>

<%= form_tag posts_path do %>
  <label>Post Title</label><br>
  <input type="text" id="post_title" name="post[title]"></input><br>

  <label>Post Description</label><br>
  <input type="text" id="post_description" name="post[description]"></input><br>
  
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="Submit Post"></input>

<% end %>

<%= params.inspect %>
